@import '@fontsource/fira-mono';
@import '@fontsource/m-plus-2/200.css';
@import '@fontsource/m-plus-2/300.css';
@import '@fontsource/m-plus-2/400.css';
@import '@fontsource/m-plus-2/600.css';
@import '@fontsource/m-plus-2/700.css';
@import '@fontsource/m-plus-2/900.css';
/*  */
/* setup */
:root {
	--font-body: 'M PLUS 2', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;

	/* font-sizes */
	--text-sm: 1.15rem;
	--text-md: 1.35rem;
	--text-lg: 1.6rem;

	/* container width */
	--max-width: 1280px;

	/* gutters */
	--gutter-na: 0.5rem;
	--gutter-mi: 1rem;
	--gutter-xs: 1.5rem;
	--gutter-sm: 2rem;
	--gutter-md: 2.5rem;
	--gutter-lg: 3rem;
	--gutter-xl: 6rem;
	--gutter-2xl: 12rem;

	--scroll-padding: 4.375rem;
	--radius: 85px;

	/* colors */
	--bg-color-primary: #fbfbfb;
	--bg-color-secondary: #ffffff;
	--important: #000;
	--sub: #111;
	--body: #585b63;
	--border: #62626234;
	--border-dark: #5e5e5e1f;
	--gradient-border: linear-gradient(to left bottom, #000000c6, #0e0d0d00);
	--shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
	--easing: cubic-bezier(0.86, 0, 0.07, 1);

	--color-100: #edf1f6;
	--color-200: #dbe4ed;
	--color-300: #cad6e4;
	--color-400: #b8c9db;
	--color-500: #a6bbd2;
	--color-600: #8596a8;
	--color-700: #64707e;
	--color-800: #424b54;
	--color-900: #21252a;

	/* blue: {
     100: "#daecfc",
     200: "#b5d9f9",
     300: "#8fc6f5",
     400: "#6ab3f2",
     500: "#45a0ef",
     600: "#3780bf",
     700: "#29608f",
     800: "#1c4060",
     900: "#0e2030"
}, */

	--gradient-nav: radial-gradient(at 48% 98%, var(--color-200) 0px, transparent 50%),
		radial-gradient(at 84% 67%, var(--color-300) 0px, transparent 50%),
		radial-gradient(at 16% 47%, var(--color-400) 0px, transparent 50%),
		radial-gradient(at 73% 11%, var(--color-500) 0px, transparent 50%);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-family: var(--font-body);
	box-sizing: border-box;
	scroll-padding-top: var(--scroll-padding);
	scroll-behavior: smooth;
}

@media (max-width: 1200px) {
	html {
		font-size: 90%;
	}
}

@media (max-width: 645px) {
	html {
		font-size: 80%;
	}
}

body {
	font-size: var(--text-md);
	color: var(--body);
	background-color: var(--bg-color-primary);
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

/*  */
/* typography */

p,
h1,
h2,
h3,
h4 {
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
	font-stretch: 125%;
	line-height: 1.2;
	color: var(--important);
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 3rem;
	text-align: center;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

@media (max-width: 845px) {
	h1 {
		font-size: 2.845rem;
	}

	h2 {
		font-size: 2.45rem;
	}

	h3 {
		font-size: 1.85rem;
	}
}

@media (max-width: 700px) {
	h1 {
		font-size: 2.545rem;
	}
}

@media (max-width: 545px) {
	:root {
		--text-lg: 1.5rem;
	}
	h1 {
		font-size: 2.4rem;
	}
}

@media (max-width: 485px) {
	:root {
		--text-large: 1.345rem;
	}
	h1 {
		font-size: 2.145rem;
	}

	h2 {
		font-size: 1.875rem;
	}

	h3 {
		font-size: 1.6rem;
	}
}

a {
	color: var(--body);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

picture,
svg,
img {
	display: block;
	max-inline-size: 100%;
	object-fit: contain;
}

ul {
	list-style: none;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

textarea {
	resize: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.hidden {
	visibility: hidden;
	transform: translateX(-100%);
}

/*  */
/* layout */
.container {
	max-inline-size: var(--max-width);
	margin-inline: auto;
}

@media (max-width: 1375px) {
	:root {
		--max-width: 1160px;
	}
}

@media (max-width: 1275px) {
	.container {
		padding-inline: var(--gutter-sm);
	}
}

@media (max-width: 1200px) {
	.container {
		padding-inline: var(--gutter-md);
	}
}

@media (max-width: 575px) {
	.container {
		padding-inline: var(--gutter-sm);
	}
}

section:first-child {
	padding-block-start: 7rem;
}

section:not(:first-child) {
	padding-block-start: var(--gutter-2xl);
}
